<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mandrake</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @model MyWeb.Models.Usuario
    <!--Seteo la ventana Modal para Inicio de Sesión-->
    <div class="modal fade" id="modalSignIn" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header-cm">
                    <h5 class="modal-title-cm">Inicia Sesión</h5>
                </div>
                <div class="modal-body">
                    @using (Html.BeginForm("ValidarUsuario", "Usuarios", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            @Html.LabelFor(x => x.Email)
                            @Html.TextBoxFor(x => x.Email, new { @class = "form-control", autofocus = "autofocus" })
                            @Html.ValidationMessageFor(x => x.Email, null, new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(x => x.Password)
                            @Html.PasswordFor(x => x.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.Password, null, new { @class = "text-danger" })
                        </div>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary" id="btnValidarSignIn">Iniciar</button>
                    }
                </div>
            </div>
        </div>
    </div>

    <!--Continúa el código normal del diseño de la Pagina-->
    <div class="navbar navbar-inverse-cm navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <p>MANDRAKE</p>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                    <li>@Html.ActionLink("Acerca de", "About", "Home")</li>
                    <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer id="pie">
            <p>&copy; @DateTime.Now.Year - Mandrake - Todos los derechos reservados.</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/funciones")
    @RenderSection("scripts", required: false)
</body>
</html>
